{% include 'components/header.html' %}



      <section class="cover-sec">
        <img src="../static/images/resources/cover-img.jpeg" alt="">
      </section>
      <main>
        <div class="main-section">
          <div class="container">
            <div class="main-section-data">
              <div class="row">
                <div class="col-lg-3">
                  <div class="main-left-sidebar">
                    <div class="user_profile">
                      <div class="user-pro-img">
                        <img src="../static/../static/images/resources/caio.jpeg" alt="" width="170">
                      </div>
                      <div class="user_pro_status">
                        <ul class="flw-hr">
                          <li>
                            <a href="#" title="" class="flww">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              Follow</a>
                          </li>
                          
                        </ul>
                        <ul class="flw-status">
                          <li>
                            <span>Following</span>
                            <b>34</b>
                          </li>
                          <li>
                            <span>Followers</span>
                            <b>155</b>
                          </li>
                        </ul>
                      </div>
                      <ul class="social_links">
                        <li>
                          <a href="#" title="">
                            <i class="la la-globe"></i>
                            www.caiolorente.com</a>
                        </li>
                        <li>
                          <a href="#" title="">
                            <i class="fa fa-facebook-square"></i>
                            http://www.facebook.com/caio</a>
                        </li>
                        
                        <li>
                          <a href="#" title="">
                            <i class="fa fa-google-plus-square"></i>
                            http://www.googleplus.com/caio<a>
                        </li>
                        
                        <li>
                          <a href="#" title="">
                            <i class="fa fa-instagram"></i>
                            http://www.instagram.com/caio</a>
                        </li>
                        <li>
                          <a href="#" title="">
                            <i class="fa fa-youtube"></i>
                            http://www.youtube.com/caio</a>
                        </li>
                      </ul>
                    </div>

                    
                    <div class="suggestions full-width">
                      <div class="sd-title">
                        <h3>Sugestões</h3>
                      </div>
                      <div class="suggestions-list">
                        <div class="suggestion-usd">
                          <img src="../static/images/resources/ronaldo.jpeg" alt="">
                          <div class="sgt-text">
                            <h4>Ronaldo Mendes</h4>
                            <span>@ronaldomendes</span>
                          </div>
                          <span>
                            <i class="fa fa-plus"></i>
                          </span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="../static/images/resources/renan.jpeg" alt="">
                          <div class="sgt-text">
                            <h4>Renan Hernandes</h4>
                            <span>@renanhernandes</span>
                          </div>
                          <span>
                            <i class="fa fa-plus"></i>
                          </span>
                        </div>
                        <div class="suggestion-usd">
                          <img src="../static/images/resources/s4.png" alt="">
                          <div class="sgt-text">
                            <h4>Saulo Freire</h4>
                            <span>@saulofreire</span>
                          </div>
                          <span>
                            <i class="fa fa-plus"></i>
                          </span>
                        </div>

                        <div class="view-more">
                          <a href="#" title="">Ver mais</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-lg-9">
                  <div class="main-ws-sec">
                    <div class="user-tab-sec">
                      <h3>Caio Lourente</h3>
                      <div class="star-descp">
                        <span>@caiolourente</span>
                        
                      </div>
                      <div class="tab-feed">
                        <ul>
                          <li data-tab="feed-dd" class="active">
                            <a href="#" title="">
                              <img src="../static/images/ic1.png" alt="">
                              <span>Feed</span>
                            </a>
                          </li>
                          <li data-tab="info-dd">
                            <a href="#" title="">
                              <img src="../static/images/ic2.png" alt="">
                              <span>Info</span>
                            </a>
                          </li>
                          <li data-tab="portfolio-dd">
                            <a href="#" title="">
                              <img src="../static/images/ic3.png" alt="">
                              <span>Fotos</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-feed-tab current" id="feed-dd">
                      <div class="posts-section">
                        <div class="post-bar">
                          <div class="post_topbar">
                            <div class="usy-dt">
                              <img src="../static/images/resources/caio.jpeg" alt="" width="50">
                              <div class="usy-name">
                                <h3>Caio Lourente</h3>
                                <span><img src="../static/images/clock.png" alt="">3 min atras</span>
                              </div>
                            </div>

                            <!-- <div class="ed-opts">
                              <a href="#" title="" class="ed-opts-open">
                                <i class="fa fa-ellipsis-v"></i>
                              </a>
                              <ul class="ed-options">
                                <li>
                                  <a href="#" title="">Editar Post</a>
                                </li>
                                <li>
                                  <a href="#" title="">Excluir</a>
                                </li>
  
                              </ul>
                            </div> -->
                          </div>
                          <div class="epi-sec">
                            <ul class="descp">
                              <!-- <li><img src="images/icon8.png" alt="">
                                <span>Epic Coder</span></li>
                              <li><img src="images/icon9.png" alt="">
                                <span>India</span></li> -->
                            </ul>
                            <ul class="bk-links">
                              <li>
                                <a href="#" title="">
                                  <i class="la la-bookmark"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" title="">
                                  <i class="la la-envelope"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="job_descp">                           
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
                            </p>
                            
                          </div>
                          <div class="job-status-bar">
                            <ul class="like-com">
                              <li>
                                <a href="#">
                                  <i class="fa fa-heart"></i>
                                  Like 25</a>
                              </li>
                              <li>
                                <a href="#" class="com">
                                  <i class="fa fa-comment"></i>
                                  Comentários 15</a>
                              </li>
                            </ul>
                            
                          </div>
                        </div> 
                      </div>
                    </div>
                    <div class="product-feed-tab" id="info-dd">
                      <div class="user-profile-ov">
                        <h3>Overview</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
                      </div>
                      <div class="user-profile-ov st2">
                        <h3>Experience</h3>
                        <h4>Web designer</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra.
                        </p>
                        <h4>UI / UX Designer</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id.</p>
                        <h4>PHP developer</h4>
                        <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra.
                        </p>
                      </div>
                      <div class="user-profile-ov">
                        <h3>Education</h3>
                        <h4>Master of Computer Science</h4>
                        <span>2015 - 2018</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra.
                        </p>
                      </div>
                      <div class="user-profile-ov">
                        <h3>Location</h3>
                        <h4>India</h4>
                        <p>151/4 BT Chownk, Delhi
                        </p>
                      </div>
                      <div class="user-profile-ov">
                        <h3>Skills</h3>
                        <ul>
                          <li>
                            <a href="#" title="">HTML</a>
                          </li>
                          <li>
                            <a href="#" title="">PHP</a>
                          </li>
                          <li>
                            <a href="#" title="">CSS</a>
                          </li>
                          <li>
                            <a href="#" title="">Javascript</a>
                          </li>
                          <li>
                            <a href="#" title="">Wordpress</a>
                          </li>
                          <li>
                            <a href="#" title="">Photoshop</a>
                          </li>
                          <li>
                            <a href="#" title="">Illustrator</a>
                          </li>
                          <li>
                            <a href="#" title="">Corel Draw</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="product-feed-tab" id="portfolio-dd">
                      <div class="portfolio-gallery-sec">
                        <h3>Photos</h3>
                        <div class="gallery_pf">
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img1.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img2.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img3.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img4.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img5.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img6.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img7.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img8.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img9.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                              <div class="gallery_pt">
                                <img src="images/resources/pf-img10.jpg" alt="">
                                <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </main>
      
    

    {% include 'components/footer.html' %}
